<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>

  <body>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'djangoapp:index' %}"
            >Best Cars Dealership</a
          >
          <a class="navbar-item mr-3" href="{% url 'djangoapp:index' %}"
            >Home</a
          >
          <a class="navbar-item mr-3" href="{% url 'djangoapp:about' %}"
            >About Us</a
          >
          <a class="navbar-item mr-3" href="{% url 'djangoapp:contact' %}"
            >Contact Us</a
          >
        </div>
        {% if user.is_authenticated %}
        <div class="rightalign">
          <a class="border border-primary rounded mr-3 p-1" href="#"
            >{{user.first_name}} {{user.last_name}}</a
          >
          <a href="{% url 'djangoapp:logout' %}">Logout</a>
        </div>
        {% else %}
        <form
          class="form-inline"
          action="{% url 'djangoapp:login' %}"
          method="post"
        >
          {% csrf_token %}
          <input
            class="form-control mr-2"
            type="text"
            placeholder="Login Name"
            name="username"
          />
          <input
            class="form-control mr-2"
            type="password"
            placeholder="Password"
            name="password"
          />
          <button class="btn btn-primary mr-2" type="submit">Login</button>
          <a class="btn btn-primary" href="#">Sign Up</a>
        </form>
        {% endif %}
      </div>
    </nav>
    <!-- Any messages that appear will appear here. -->
    {% if messages %}
    <ul class="list-group">
      {% for message in messages %}
      <li class="list-group-item">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <form method="post" action="{% url 'djangoapp:registration' %}" class="m-3">
      {% csrf_token %}
      <h2>Sign Up</h2>
      <hr />
      <div class="w-50">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control"
            name="username"
            placeholder="Enter Username"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="Enter Password"
          />
        </div>
        <div class="form-group">
          <label for="firstname">First Name</label>
          <input
            type="text"
            class="form-control"
            name="firstname"
            placeholder="Enter First Name"
          />
        </div>
        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input
            type="text"
            class="form-control"
            name="lastname"
            placeholder="Enter Last Name"
          />
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </form>
  </body>
</html>
